In [71]:
import hvplot.pandas
import pandas as pd
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pathlib import Path

car_prices = Path("/Users/artemzalivchiy/Desktop/car_prices 2.csv")
prices = pd.read_csv(car_prices)
prices.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [72]:
prices[["make", "model", "body"]].head()

    make                model   body
0    Kia              Sorento    SUV
1    Kia              Sorento    SUV
2    BMW             3 Series  Sedan
3  Volvo                  S60  Sedan
4    BMW  6 Series Gran Coupe  Sedan

In [73]:
popular_models = prices.loc[:, ["model"]]
popular_models

                      model
0                   Sorento
1                   Sorento
2                  3 Series
3                       S60
4       6 Series Gran Coupe
...                     ...
558832                 K900
558833                 2500
558834                   X5
558835               Altima
558836                F-150

[558837 rows x 1 columns]

In [74]:
transmission_counts= prices['transmission'].value_counts()
print(transmission_counts)

transmission
automatic    475915
manual        17544
sedan            15
Sedan            11
Name: count, dtype: int64

In [75]:
transmission = prices.loc[:, ['transmission']]
transmission.head(10)

  transmission
0    automatic
1    automatic
2    automatic
3    automatic
4    automatic
5    automatic
6    automatic
7    automatic
8    automatic
9    automatic

In [84]:
prices.count()

year            558837
make            548536
model           548438
trim            548186
body            545642
transmission    493485
vin             558833
state           558837
condition       547017
odometer        558743
color           558088
interior        558088
seller          558837
mmr             558799
sellingprice    558825
saledate        558825
dtype: int64

In [82]:
color_distribution_no = prices.dropna(how='any')
color_distribution_no

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [86]:
#Question 5 
color_distribution = prices['color'].value_counts()
color_distribution.head(20)
# Drop all rows with missing information

color
black        110970
white        106673
silver        83389
gray          82857
blue          51139
red           43569
—             24685
green         11382
gold          11342
beige          9222
burgundy       8972
brown          6717
orange         2078
purple         1561
off-white      1449
yellow         1285
charcoal        479
turquoise       236
pink             42
lime             15
Name: count, dtype: int64

In [77]:
#Question 5 but for interior 
color_distribution = prices['interior'].value_counts()
color_distribution.head(3)

interior
black    244329
gray     178581
beige     59758
Name: count, dtype: int64

In [78]:
color_distribution = pd.merge(car_prices, how="left", on=["color", "value"])
color.ditribution.head()

TypeError: merge() missing 1 required positional argument: 'right'

In [93]:
#Question 8 
prices['Profit'] = prices['sellingprice']- prices['mmr']
profit_by_make = prices.groupby('make')["Profit"].sum()
prices['Profit']

0         1000.0
1          700.0
2        -1900.0
3          250.0
4         1000.0
           ...
558832   -2300.0
558833     600.0
558834    4200.0
558835   -4000.0
558836   -2900.0
Name: Profit, Length: 558837, dtype: float64

In [92]:
#Question 9
median_price = prices.groupby('make')['sellingprice'].median()
median_price

make
Acura           14900.0
Aston Martin    51000.0
Audi            18500.0
BMW             20100.0
Bentley         62250.0
                 ...
subaru           3450.0
suzuki           3500.0
toyota           5800.0
volkswagen       3550.0
vw              15500.0
Name: sellingprice, Length: 96, dtype: float64

In [100]:
#Question 11 
dealership_count= prices.groupby(['state' ,'seller']).count()
dealership_count

                                                  year  make  model  trim  \
state             seller
3vwd17aj0fm227318 black                              1     1      1     1
3vwd17aj2fm258506 gray                               1     1      1     1
3vwd17aj2fm261566 gray                               1     1      1     1
3vwd17aj2fm285365 black                              1     1      1     1
3vwd17aj3fm259017 black                              1     1      1     1
...                                                ...   ...    ...   ...
wi                wyss auto sales                    1     1      1     1
                  zimbrick bmw                       2     2      2     2
                  zimbrick eastside                 56    55     55    55
                  zimbrick of middleton             15    15     15    15
                  zimbrick volkswagen of madison     2     2      2     2

                                                  body  transmission  vin  \
state             seller
3vwd17aj0fm227318 black                              1             1    1
3vwd17aj2fm258506 gray                               1             1    1
3vwd17aj2fm261566 gray                               1             1    1
3vwd17aj2fm285365 black                              1             1    1
3vwd17aj3fm259017 black                              1             1    0
...                                                ...           ...  ...
wi                wyss auto sales                    1             1    1
                  zimbrick bmw                       2             2    2
                  zimbrick eastside                 55            56   56
                  zimbrick of middleton             15            15   15
                  zimbrick volkswagen of madison     2             2    2

                                                  condition  odometer  color  \
state             seller
3vwd17aj0fm227318 black                                   0         1      1
3vwd17aj2fm258506 gray                                    0         1      1
3vwd17aj2fm261566 gray                                    0         1      1
3vwd17aj2fm285365 black                                   0         1      1
3vwd17aj3fm259017 black                                   0         1      1
...                                                     ...       ...    ...
wi                wyss auto sales                         1         1      1
                  zimbrick bmw                            1         2      2
                  zimbrick eastside                      56        56     56
                  zimbrick of middleton                  10        15     15
                  zimbrick volkswagen of madison          2         2      2

                                                  interior  mmr  sellingprice  \
state             seller
3vwd17aj0fm227318 black                                  1    0             1
3vwd17aj2fm258506 gray                                   1    0             1
3vwd17aj2fm261566 gray                                   1    0             1
3vwd17aj2fm285365 black                                  1    0             1
3vwd17aj3fm259017 black                                  1    0             1
...                                                    ...  ...           ...
wi                wyss auto sales                        1    1             1
                  zimbrick bmw                           2    2             2
                  zimbrick eastside                     56   56            56
                  zimbrick of middleton                 15   15            15
                  zimbrick volkswagen of madison         2    2             2

                                                  saledate  Profit
state             seller
3vwd17aj0fm227318 black                                  1       0
3vwd17aj2fm258506 gray                                   1       0
3vwd17aj2fm261566 gray                                   1       0
3vwd17aj2fm285365 black                                  1       0
3vwd17aj3fm259017 black                                  1       0
...                                                    ...     ...
wi                wyss auto sales                        1       1
                  zimbrick bmw                           2       2
                  zimbrick eastside                     56      56
                  zimbrick of middleton                 15      15
                  zimbrick volkswagen of madison         2       2

[20420 rows x 15 columns]

In [106]:
dealership_count = prices.groupby(['state', 'seller'])
dealership_total = dealership_count.sum()
dealership_total

                                                    year  \
state             seller
3vwd17aj0fm227318 black                             2015
3vwd17aj2fm258506 gray                              2015
3vwd17aj2fm261566 gray                              2015
3vwd17aj2fm285365 black                             2015
3vwd17aj3fm259017 black                             2015
...                                                  ...
wi                wyss auto sales                   2011
                  zimbrick bmw                      4022
                  zimbrick eastside               112438
                  zimbrick of middleton            30089
                  zimbrick volkswagen of madison    4018

                                                                                               make  \
state             seller
3vwd17aj0fm227318 black                                                                  Volkswagen
3vwd17aj2fm258506 gray                                                                   Volkswagen
3vwd17aj2fm261566 gray                                                                   Volkswagen
3vwd17aj2fm285365 black                                                                  Volkswagen
3vwd17aj3fm259017 black                                                                  Volkswagen
...                                                                                             ...
wi                wyss auto sales                                                          Cadillac
                  zimbrick bmw                                                            BuickFord
                  zimbrick eastside               NissanChevroletLincolnNissanFordGMCGMCChevrole...
                  zimbrick of middleton           HondaBuickChryslerBuickHondaAudiFordDodgeMitsu...
                  zimbrick volkswagen of madison                                     FordVolkswagen

                                                                                              model  \
state             seller
3vwd17aj0fm227318 black                                                                       Jetta
3vwd17aj2fm258506 gray                                                                        Jetta
3vwd17aj2fm261566 gray                                                                        Jetta
3vwd17aj2fm285365 black                                                                       Jetta
3vwd17aj3fm259017 black                                                                       Jetta
...                                                                                             ...
wi                wyss auto sales                                                               SRX
                  zimbrick bmw                                                          EnclaveEdge
                  zimbrick eastside               MaximaSuburbanMKSMuranoFusionYukonYukon XLCoba...
                  zimbrick of middleton           OdysseyPark AvenuePT CruiserLeSabreAccordQ7Exp...
                  zimbrick volkswagen of madison                                     ExplorerRoutan

                                                                                               trim  \
state             seller
3vwd17aj0fm227318 black                                                      SE PZEV w/Connectivity
3vwd17aj2fm258506 gray                                                       SE PZEV w/Connectivity
3vwd17aj2fm261566 gray                                                       SE PZEV w/Connectivity
3vwd17aj2fm285365 black                                                      SE PZEV w/Connectivity
3vwd17aj3fm259017 black                                                      SE PZEV w/Connectivity
...                                                                                             ...
wi                wyss auto sales                                                            Luxury
                  zimbrick bmw                                                               CXL2SE
                  zimbrick eastside               3.5 SL1500 LT1BaseSLSESLESLE 1500LSLS1.8 SSLTS...
                  zimbrick of middleton           TouringUltraBaseCustomEX V-63.6 Premium quattr...
                  zimbrick volkswagen of madison                                          LimitedSE

                                                                                               body  \
state             seller
3vwd17aj0fm227318 black                                                                 Navitgation
3vwd17aj2fm258506 gray                                                                  Navitgation
3vwd17aj2fm261566 gray                                                                  Navitgation
3vwd17aj2fm285365 black                                                                 Navitgation
3vwd17aj3fm259017 black                                                                 Navitgation
...                                                                                             ...
wi                wyss auto sales                                                               SUV
                  zimbrick bmw                                                               SUVsuv
                  zimbrick eastside               SedanSUVSedanSUVSedanSUVSUVSedanSedanHatchback...
                  zimbrick of middleton           MinivanSedanConvertibleSedanSedanSUVCrew CabQu...
                  zimbrick volkswagen of madison                                         SUVminivan

                                                                                       transmission  \
state             seller
3vwd17aj0fm227318 black                                                                       Sedan
3vwd17aj2fm258506 gray                                                                        Sedan
3vwd17aj2fm261566 gray                                                                        sedan
3vwd17aj2fm285365 black                                                                       Sedan
3vwd17aj3fm259017 black                                                                       Sedan
...                                                                                             ...
wi                wyss auto sales                                                         automatic
                  zimbrick bmw                                                   automaticautomatic
                  zimbrick eastside               automaticautomaticautomaticautomaticautomatica...
                  zimbrick of middleton           automaticautomaticmanualautomaticautomaticauto...
                  zimbrick volkswagen of madison                                 automaticautomatic

                                                                                                vin  \
state             seller
3vwd17aj0fm227318 black                                                                   automatic
3vwd17aj2fm258506 gray                                                                    automatic
3vwd17aj2fm261566 gray                                                                    automatic
3vwd17aj2fm285365 black                                                                   automatic
3vwd17aj3fm259017 black                                                                           0
...                                                                                             ...
wi                wyss auto sales                                                 3gyfnaey8bs672569
                  zimbrick bmw                                   5galvced1aj1354472fmdk3gc9cba96206
                  zimbrick eastside               1n4ba41e04c8251511gnfk26329r1219541lnhl9ft2bg6...
                  zimbrick of middleton           5fnrl38807b0389021g4cu5414541006163c3ey45x05t5...
                  zimbrick volkswagen of madison                 1fmeu75896ub472712c4rvabg8cr340788

                                                  condition   odometer  \
state             seller
3vwd17aj0fm227318 black                                 0.0       41.0
3vwd17aj2fm258506 gray                                  0.0        1.0
3vwd17aj2fm261566 gray                                  0.0       48.0
3vwd17aj2fm285365 black                                 0.0        1.0
3vwd17aj3fm259017 black                                 0.0       46.0
...                                                     ...        ...
wi                wyss auto sales                       4.0    49775.0
                  zimbrick bmw                         27.0   104455.0
                  zimbrick eastside                  1713.0  4532962.0
                  zimbrick of middleton               292.0  1465998.0
                  zimbrick volkswagen of madison       74.0   125669.0

                                                                                              color  \
state             seller
3vwd17aj0fm227318 black                                                                       14872
3vwd17aj2fm258506 gray                                                                         9410
3vwd17aj2fm261566 gray                                                                         5001
3vwd17aj2fm285365 black                                                                        2172
3vwd17aj3fm259017 black                                                                        2711
...                                                                                             ...
wi                wyss auto sales                                                             brown
                  zimbrick bmw                                                           silverblue
                  zimbrick eastside               graysilverwhitegoldredblackblueblackredgrayblu...
                  zimbrick of middleton           grayblacksilvergoldblacksilverburgundybluegray...
                  zimbrick volkswagen of madison                                       silversilver

                                                                                           interior  \
state             seller
3vwd17aj0fm227318 black                                                                        gray
3vwd17aj2fm258506 gray                                                                        white
3vwd17aj2fm261566 gray                                                                         blue
3vwd17aj2fm285365 black                                                                        gray
3vwd17aj3fm259017 black                                                                       white
...                                                                                             ...
wi                wyss auto sales                                                               tan
                  zimbrick bmw                                                            blackgray
                  zimbrick eastside               graytanblackbeigegraygraygraygraygrayblackblac...
                  zimbrick of middleton           graygraygraygraygrayblackgrayblackblackgraybla...
                  zimbrick volkswagen of madison                                          blackgray

                                                       mmr  sellingprice  \
state             seller
3vwd17aj0fm227318 black                                0.0       13700.0
3vwd17aj2fm258506 gray                                 0.0       13300.0
3vwd17aj2fm261566 gray                                 0.0       13400.0
3vwd17aj2fm285365 black                                0.0       14050.0
3vwd17aj3fm259017 black                                0.0       14250.0
...                                                    ...           ...
wi                wyss auto sales                  20100.0       19200.0
                  zimbrick bmw                     34300.0       31700.0
                  zimbrick eastside               594250.0      625000.0
                  zimbrick of middleton           137300.0      138050.0
                  zimbrick volkswagen of madison   23275.0       24000.0

                                                                                           saledate  \
state             seller
3vwd17aj0fm227318 black                                                                       14300
3vwd17aj2fm258506 gray                                                                        10500
3vwd17aj2fm261566 gray                                                                        13600
3vwd17aj2fm285365 black                                                                        8250
3vwd17aj3fm259017 black                                                                       14000
...                                                                                             ...
wi                wyss auto sales                           Wed May 27 2015 03:00:00 GMT-0700 (PDT)
                  zimbrick bmw                    Wed Dec 17 2014 10:00:00 GMT-0800 (PST)Wed Jun...
                  zimbrick eastside               Wed Dec 17 2014 10:00:00 GMT-0800 (PST)Wed Dec...
                  zimbrick of middleton           Wed Dec 17 2014 10:00:00 GMT-0800 (PST)Wed Dec...
                  zimbrick volkswagen of madison  Tue Dec 23 2014 10:00:00 GMT-0800 (PST)Wed Jun...

                                                   Profit
state             seller
3vwd17aj0fm227318 black                               0.0
3vwd17aj2fm258506 gray                                0.0
3vwd17aj2fm261566 gray                                0.0
3vwd17aj2fm285365 black                               0.0
3vwd17aj3fm259017 black                               0.0
...                                                   ...
wi                wyss auto sales                  -900.0
                  zimbrick bmw                    -2600.0
                  zimbrick eastside               30750.0
                  zimbrick of middleton             750.0
                  zimbrick volkswagen of madison    725.0

[20420 rows x 15 columns]